In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('eu_col.csv')
df.head()

  VariableCode RegionCode  YearCode      AggValue
0        rgdpe        COL      1950  40330.343750
1        rgdpo        COL      1950  40504.574219
2          pop        COL      1950     11.618923
3          emp        COL      1950      3.345374
4          avh        COL      1950   2323.000000